.side-bar
  .side-bar__header
    .side-bar__header__content
      .side-bar__header__content--user-name
        masa
      %ul.side-bar__header__content__icon<
        %li.side-bar__header__content__icon--new-group<
          = link_to "#", class: "side-bar__header__content__icon--new-group" do
            %i.fas.fa-edit
        %li.side-bar__header__content__icon--cog
          = link_to "#", class: "side-bar__header__content__icon--cog" do
            %i.fas.fa-cog
            %span<>
  %ul.side-bar__lists<
    %li.side-bar__lists--chat-title<
      techchamp
    %i.side-bar__lists--chat-message<
      まだメッセージがありません
    
